$primary-color: rgb(248, 194, 46);
$secondary-color: rgb(253, 98, 8);
$card-background: white;
$border-color: black;
$card-shadow: 10px 10px 20px rgb(41, 41, 41);

body {
	background-color: $primary-color;
}

.shopping-app {
	text-align: center;
	width: 100vw;
	height: 100vh;

	.search-form {
		padding: 1rem;

		& input:focus {
			outline: none;
		}
	}

	.list-container {
		text-align: left;
		background-color: $card-background;
		padding: 10px;
		height: 40vh;
		width: 70vw;
		margin: 10px auto;
		box-shadow: $card-shadow;
		border-radius: 5px;
	}

	.search-bar {
		width: 250px;
		height: 30px;
		border: none;
		border-radius: 50px 0 0 50px;
		padding-left: 1rem;
	}

	.search-btn {
		border: none;
		height: 30px;
		background-color: $secondary-color;
		padding-right: 1rem;
		padding-left: 0.75rem;
		border-radius: 0 50px 50px 0;
	}

	.clear-btn {
		margin-top: 20px;
		padding: 10px;
		border: none;
		border-radius: 20px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		outline: none;
		background-color: $secondary-color;
		color: white;

		&:hover {
			cursor: pointer;
		}
	}

	footer {
		background: $secondary-color;
		border-top: 2px solid $border-color;
		border-left: 2px solid $border-color;
		opacity: 0.8;
		position: fixed;
		right: 0;
		bottom: 0;
		height: 200px;
		width: 235px;
		border-radius: 80% 0 0 0;
	}

	@media screen and (min-width: 960px) {
		footer {
			background: $secondary-color;
			border-top: 2px solid $border-color;
			border-bottom: 2px solid $border-color;
			border-left: 2px solid $border-color;
			opacity: 0.8;
			position: fixed;
			right: 0;
			top: 1.5rem;
			height: 70px;
			width: 325px;
			border-radius: 50px 0 0 50px;
		}
	}
}
