$textColor: rgb(255, 255, 255);
$morning-theme: rgb(255, 174, 0);
$afternoon-theme: rgb(47, 0, 255);
$night-theme: rgb(49, 0, 128);

.greeting {
	color: $textColor;
	height: 100vh;
	width: auto;
	overflow: hidden;
	margin: none;

	&.morning {
		background: linear-gradient(
				150deg,
				rgba($morning-theme, 1),
				rgba($morning-theme, 0.5),
				rgba($morning-theme, 0.1),
				rgba($morning-theme, 0),
				rgba($morning-theme, 0),
				rgba($morning-theme, 0),
				rgba($morning-theme, 0.5),
				rgba($morning-theme, 1),
				rgba($morning-theme, 1)
			),
			url(../img/morning.jpg) bottom center;
		background-position: cover;
		animation: change 90s ease-in-out infinite;

		@keyframes change {
			0% {
				background-position: 0 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0 50%;
			}
		}
	}

	&.afternoon {
		.description {
			background-color: rgba(47, 0, 255, 0.5);
			border-radius: 10px;
			box-shadow: 10px 10px 20px rgb(41, 41, 41);
		}
		background: linear-gradient(
				150deg,
				rgba($afternoon-theme, 1),
				rgba($afternoon-theme, 0.5),
				rgba($afternoon-theme, 0.1),
				rgba($afternoon-theme, 0),
				rgba($afternoon-theme, 0),
				rgba($afternoon-theme, 0),
				rgba($afternoon-theme, 0.5),
				rgba($afternoon-theme, 1),
				rgba($afternoon-theme, 1)
			),
			url(../img/afternoon.jpg) bottom center;
		background-position: cover;
		animation: change 90s ease-in-out infinite;

		@keyframes change {
			0% {
				background-position: 0 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0 50%;
			}
		}
	}

	&.night {
		color: white;
		background: linear-gradient(
				150deg,
				rgba($night-theme, 1),
				rgba($night-theme, 0.5),
				rgba($night-theme, 0),
				rgba($night-theme, 0),
				rgba($night-theme, 0),
				rgba($night-theme, 0.5),
				rgba($night-theme, 1)
			),
			url(../img/night.jpg) bottom center;
		background-position: cover;
		animation: change 90s ease-in-out infinite;

		@keyframes change {
			0% {
				background-position: 0 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0 50%;
			}
		}
	}

	.date-time {
		position: absolute;
		top: 1rem;
		left: 1rem;

		h2 {
			margin: 0;
		}
	}

	h1 {
		margin: auto;
		padding: 1rem;
		position: relative;
		top: 50%;
		text-align: center;
		width: fit-content;
		transform: translateY(-50%);
		font-size: 2rem;
	}

	.recipes {
		position: absolute;
		right: 20px;
		bottom: 185px;
	}
	.calc {
		position: absolute;
		right: 140px;
		bottom: 145px;
	}
	.todo {
		position: absolute;
		right: 200px;
		bottom: 100px;
	}
	.shopping {
		position: absolute;
		right: 225px;
		bottom: 35px;
	}

	.home {
		position: absolute;
		right: 65px;
		bottom: 25px;
	}
	// ------------------------------------- Media Queries ---------------------------------------//
	@media screen and (min-width: 960px) {
		.recipes {
			height: fit-content;
			position: absolute;
			right: 15px;
			top: 100px;
			transform: rotate(-50deg);
		}
		.calc {
			height: fit-content;
			position: absolute;
			right: 60px;
			top: 110px;
			transform: rotate(-50deg);
		}
		.todo {
			height: fit-content;
			position: absolute;
			right: 210px;
			top: 100px;
			transform: rotate(-50deg);
		}
		.shopping {
			height: fit-content;
			position: absolute;
			right: 260px;
			top: 120px;
			transform: rotate(-50deg);
		}

		.home {
			height: fit-content;
			position: absolute;
			right: 140px;
			top: 110px;
			transform: rotate(-50deg);
		}

		&.morning {
			background: linear-gradient(
					0deg,
					rgba($morning-theme, 0),
					rgba($morning-theme, 0),
					rgba($morning-theme, 0),
					rgba($morning-theme, 0),
					rgba($morning-theme, 0),
					rgba($morning-theme, 0),
					rgba($morning-theme, 0.5),
					rgba($morning-theme, 1),
					rgba($morning-theme, 1)
				),
				url(../img/morning.jpg) bottom center;
			background-position: cover;
			animation: change 30s ease-in-out infinite;
		}

		&.afternoon {
			.description {
				background-color: rgba(47, 0, 255, 0.5);
				border-radius: 10px;
				box-shadow: 10px 10px 20px rgb(41, 41, 41);
			}
			background: linear-gradient(
					0deg,
					rgba($afternoon-theme, 0),
					rgba($afternoon-theme, 0),
					rgba($afternoon-theme, 0),
					rgba($afternoon-theme, 0),
					rgba($afternoon-theme, 0),
					rgba($afternoon-theme, 0.5),
					rgba($afternoon-theme, 1)
				),
				url(../img/afternoon.jpg) bottom center;

			animation: change 30s ease-in-out infinite;
		}

		&.night {
			color: white;
			background: linear-gradient(
					0deg,
					rgba($night-theme, 0),
					rgba($night-theme, 0),
					rgba($night-theme, 0),
					rgba($night-theme, 0),
					rgba($night-theme, 0),
					rgba($night-theme, 0.5),
					rgba($night-theme, 1)
				),
				url(../img/night.jpg) bottom center;
			animation: change 30s ease-in-out infinite;
		}
	}
}
