$textColor: rgb(255, 255, 255);

$morning-theme: rgb(255, 174, 0);
$afternoon-theme: rgb(47, 0, 255);
$night-theme: rgb(49, 0, 128);
.greeting {
	color: $textColor;
	padding-bottom: 1.5rem;
	height: 100vh;
	width: auto;
	//overflow: hidden;

	&.morning {
		background: linear-gradient(
				135deg,
				rgba($morning-theme, 1),
				rgba($morning-theme, 0.5),
				rgba($morning-theme, 0.1),
				rgba($morning-theme, 0),
				rgba($morning-theme, 0),
				rgba($morning-theme, 0),
				rgba($morning-theme, 0.5),
				rgba($morning-theme, 1),
				rgba($morning-theme, 1)
			),
			url(../img/morning.jpg) bottom center;
		background-position: cover;
		animation: change 90s ease-in-out infinite;

		@keyframes change {
			0% {
				background-position: 0 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0 50%;
			}
		}
	}

	&.afternoon {
		background: linear-gradient(
				135deg,
				rgba($afternoon-theme, 1),
				rgba($afternoon-theme, 0.5),
				rgba($afternoon-theme, 0.1),
				rgba($afternoon-theme, 0),
				rgba($afternoon-theme, 0),
				rgba($afternoon-theme, 0),
				rgba($afternoon-theme, 0.5),
				rgba($afternoon-theme, 1),
				rgba($afternoon-theme, 1)
			),
			url(../img/afternoon.jpg) bottom center;
		background-position: cover;
		animation: change 90s ease-in-out infinite;

		@keyframes change {
			0% {
				background-position: 0 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0 50%;
			}
		}
	}

	&.night {
		color: white;
		background: linear-gradient(
				135deg,
				rgba($night-theme, 1),
				rgba($night-theme, 0.5),
				rgba($night-theme, 0.1),
				rgba($night-theme, 0),
				rgba($night-theme, 0),
				rgba($night-theme, 0),
				rgba($night-theme, 0.5),
				rgba($night-theme, 1),
				rgba($night-theme, 1)
			),
			url(../img/night.jpg) bottom center;
		background-position: cover;
		animation: change 90s ease-in-out infinite;

		@keyframes change {
			0% {
				background-position: 0 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0 50%;
			}
		}
	}

	h1 {
		padding-right: 1rem;

		margin: 0px;
		text-align: center;
		position: absolute;
		top: 50%;
		width: 100vw;
		transform: translateY(-50%);
		font-size: 2rem;
	}

	.date-time {
		position: absolute;
		top: 1rem;
		left: 1rem;

		h2 {
			margin: 0;
		}
	}
}
