$primary-color: lightblue;
$secondary-color: blue;

* {
	margin: 0;
	padding: 0;
}
.Recipe {
	padding: 1rem;
	background-color: $primary-color;
	text-align: center;

	.search-form {
		padding: 1rem;
	}

	.search-bar {
		width: 50%;
		height: 30px;
		border: none;
		border-radius: 50px 0 0 50px;
		padding-left: 1rem;

		&:hover {
			cursor: text;
		}
	}

	.search-btn {
		border: none;
		height: 32px;
		background-color: $secondary-color;
		padding-right: 1rem;
		padding-left: 0.75rem;
		border-radius: 0 50px 50px 0;

		&:hover {
			cursor: pointer;
		}
	}
}

.search-results {
	margin: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	.cards {
		background-color: white;
		margin: 2rem;
		box-shadow: 10px 10px 20px rgb(41, 41, 41);
		padding: 1rem;
		border-radius: 5px;
	}

	ul {
		list-style: none;
		transform: translateX(-5px);
	}

	.food-pics {
		width: 200px;
		height: auto;
		border-radius: 15%;
	}
}
