$primary-color: rgb(248, 194, 46);
$secondary-color: rgb(253, 98, 8);
$card-background: white;
$border-color: black;
$card-shadow: 10px 10px 20px rgb(41, 41, 41);

* {
	margin: 0;
	padding: 0;
}

.Recipe {
	padding: 1rem;
	background-color: $primary-color;
	text-align: center;

	.search-form {
		padding: 1rem;

		& input:focus {
			outline: none;
		}
	}

	.fa-search {
		color: white;

		&:hover {
			color: black;
		}
	}

	.search-bar {
		width: 70%;
		height: 30px;
		border: none;
		border-radius: 50px 0 0 50px;
		padding-left: 1rem;
	}

	.search-btn {
		border: none;
		height: 30px;
		background-color: $secondary-color;
		padding-right: 1rem;
		padding-left: 0.75rem;
		border-radius: 0 50px 50px 0;
		outline: none;
		cursor: pointer;
	}

	footer {
		background: $secondary-color;
		border-top: 2px solid $border-color;
		border-left: 2px solid $border-color;
		opacity: 0.8;
		position: fixed;
		right: 0;
		bottom: 0;
		height: 200px;
		width: 235px;
		border-radius: 80% 0 0 0;
	}

	// ------------------------------- Search Results Container ------------------------------------//
	.search-results {
		margin: 2rem auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;

		.cards {
			text-align: center;
			background-color: $card-background;
			width: 250px;
			height: auto;
			margin: 0 auto;
			box-shadow: $card-shadow;
			padding: 1rem;
			border-radius: 5px;
		}

		ul {
			list-style: none;
			transform: translateX(-5px);
		}

		.food-pics {
			width: 200px;
			height: auto;
			border-radius: 15%;
		}
	}
}

// -------------------------------------- Media Queries -------------------------------------------//
@media screen and (min-width: 650px) {
	.Recipe {
		.search-bar {
			width: 400px;
		}
		.search-results {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media screen and (min-width: 960px) {
	.Recipe {
		text-align: left;
		margin: 0;

		h1 {
			position: relative;
			left: 120px;
			padding-bottom: 1rem;
			width: fit-content;
			margin: 0;
		}

		p {
			text-align: center;
			font-size: 20px;
		}

		.search-form {
			padding: 0;
			padding-bottom: 1rem;
			width: fit-content;
		}

		.search-results {
			grid-template-columns: repeat(3, 1fr);
		}

		footer {
			background: $secondary-color;
			border-top: 2px solid $border-color;
			border-bottom: 2px solid $border-color;
			border-left: 2px solid $border-color;
			opacity: 0.8;
			position: fixed;
			right: 0;
			top: 1.5rem;
			height: 70px;
			width: 325px;
			border-radius: 50px 0 0 50px;
		}
	}
}

@media screen and (min-width: 1400px) {
	.Recipe {
		h1 {
			position: relative;
			top: 10px;
			left: 30px;

			width: fit-content;
			margin: 0;
			font-size: 4rem;
		}

		.search-form {
			position: relative;
			top: -60px;
			left: 50%;
			transform: translateX(-50%);
			padding: 0;
			width: fit-content;
		}

		.search-results {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}
