$iconColor: rgb(255, 255, 255);

.nav {
	position: fixed;
	bottom: 1rem;
	right: 1rem;

	.fa-utensils {
		color: $iconColor;
		position: absolute;
		right: 1rem;
		bottom: 8rem;
		cursor: pointer;
	}

	.fa-calculator {
		color: $iconColor;
		position: absolute;
		right: 5rem;
		bottom: 7.5rem;
		cursor: pointer;
	}

	.fa-list {
		color: $iconColor;
		position: absolute;
		right: 8.5rem;
		bottom: 5rem;
		cursor: pointer;
	}

	.fa-shopping-cart {
		color: $iconColor;
		position: absolute;
		right: 10rem;
		bottom: 1rem;
		cursor: pointer;
	}

	.fa-home {
		color: $iconColor;
		position: absolute;
		right: 2rem;
		bottom: 2rem;
		cursor: pointer;
	}
}
// ------------------------------- Media Queries ----------------------------------- //

@media screen and (min-width: 960px) {
	.nav {
		right: 0;
		top: 0;

		.fa-utensils {
			position: fixed;
			top: 45px;
			right: 15px;
			height: 0;
		}

		.fa-calculator {
			position: fixed;
			top: 45px;
			right: 65px;
			height: 0;
		}

		.fa-list {
			position: fixed;
			top: 45px;
			right: 210px;
			height: 0;
		}

		.fa-shopping-cart {
			position: fixed;
			top: 45px;
			right: 265px;
			height: 0;
		}

		.fa-home {
			position: fixed;
			top: 30px;
			right: 115px;
			height: 0;
		}
	}
}
