$iconColor: rgb(255, 255, 255);
$iconHover: rgb(255, 0, 0);
.nav {
	display: flex;

	.fa-utensils {
		color: $iconColor;
		position: absolute;
		right: 1rem;
		bottom: 8rem;

		&:hover {
			color: $iconHover;
			cursor: pointer;
		}
	}

	.fa-calculator {
		color: $iconColor;
		position: absolute;
		right: 5rem;
		bottom: 7.5rem;

		&:hover {
			color: $iconHover;
			cursor: pointer;
		}
	}

	.fa-list {
		color: $iconColor;
		position: absolute;
		right: 8.5rem;
		bottom: 5rem;

		&:hover {
			color: $iconHover;
			cursor: pointer;
		}
	}

	.fa-shopping-cart {
		color: $iconColor;
		position: absolute;
		right: 10rem;
		bottom: 1rem;

		&:hover {
			color: $iconHover;
			cursor: pointer;
		}
	}

	.fa-home {
		color: $iconColor;
		position: absolute;
		right: 2rem;
		bottom: 2rem;

		&:hover {
			color: $iconHover;
			cursor: pointer;
		}
	}
}
